APP_NAME=SentraDesa
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

# Database Configuration (Docker / Local)
DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=sentra_desa_db
DB_USERNAME=root
DB_PASSWORD=password

SESSION_DRIVER=database
SESSION_LIFETIME=120

QUEUE_CONNECTION=sync
CACHE_DRIVER=file

# Mail Configuration
MAIL_MAILER=log
MAIL_FROM_ADDRESS=admin@sentradesa.test
MAIL_FROM_NAME="Sentra Desa"
